.box1{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(135, 204, 144),rgb(31, 102, 143));
   


image{
    
    display: flex;

  
}
    h1{

        font-family:cursive;
        font-size:xx-large ;
        display: flex;
        justify-content: space-evenly;
        justify-content: center;
       
    }
}

.list{
    ul{

       font-size: larger;
        display: flex;
        list-style-type: none;
       
    }
    li{
        float: left;
        margin: 50px;
        padding: 20px;
        display: block;
        color: black;
        text-decoration: none;
    }
    li a:hover {
        background-color:rgb(86, 224, 104) ;

    }

    
}

.box2{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(135, 204, 144),rgb(31, 102, 143));
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-larger;
  margin: 20px;
  padding: 20px;
}

.hello{
    display: flex; 
    background-color: aqua;
    margin:auto ;
    justify-content: space-evenly;
    align-content: center;}

 .box{
    background: linear-gradient(rgb(135, 204, 144),rgb(31, 102, 143));
    border-radius: 20px;
       border: rgb(26, 24, 24) 5px, solid;
       padding: 20px;
       margin: 20px;
       border-spacing: 10px ;
       justify-content: space-evenly;
       font-size: 20px;
       font-family:'Courier New', Courier, monospace; 
       word-spacing: 10px;
}


